/* reset */
body,form,h1,h2,h3,h4,h5,ul,ol,li,dl,dt,dd,p,input,textarea,table,th,td,iframe,button{margin:0;padding:0}
body,input,textarea{font-size:12px;line-height: 24px;}
button,select,input,textarea{outline:none;}
textarea{ resize:none;}
ul,ol{list-style:none}
img,button{border:0}
button,input {line-height:normal;*overflow:visible}
a{ text-decoration:none; cursor:pointer;}
a:link,a:visited, a:active{
	color: inherit;
}
button{outline: none;}